@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}

body {
    background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}

/*------------ HEADER ------------*/
.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #5fa199;
}

header h1 {
    font-size: 2.5em;
    font-weight: lighter;
    padding: 20px;
    color: #f8e12e;
    text-shadow: 8px 4px 8px #111; 
}

.header-container nav {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
}

.header-container nav a {
    font-size: 1.8em;
    font-weight: lighter;
    padding: 10px;
    text-decoration: none;
    color: #f8e12e;
    text-shadow: 8px 4px 8px #111;
}
/*------------ FOOTER ------------*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5fa199;
    height: 80px;
}

footer p {
    font-size: 1.5em;
    font-weight: lighter;
    color: #f8e12e;
    text-shadow: 8px 4px 8px #111; 
}

/*------------ MAIN ------------*/
.hero-section {
    background-color: #5fa199;
}

.hero-section img {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/design1_image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.hero-section h2 {
    text-align: center;
    font-weight: lighter;
    font-size: 3.5em;
    color: #f8e12e;
    text-shadow: 8px 4px 8px #111;
}

.logo{
    display: inline-block;
    position: relative;
    top: 100px;
    width: 250px;
}

.container {
    position: relative;
    bottom: 180px;
    font-size: 30px;
    padding: 20px;
    margin-left: 300px;
}

.container-about {
    position: relative;
    bottom: 120px;
    font-size: 30px;
    margin-left: 260px;
}

.container h3 {
    padding: 20px;
}

.final-image {
    display: inline;
    align-items: center;
    justify-content: center;
}

.image-final {
    width: 50%;
    margin: 50px;
}
