footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5fa199;
    height:120px;
    p {
        font-size: 1.8em;
        font-weight: lighter;
        color: $main-font-color;
        text-shadow: $text-shadow; 
    }
}