header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #5fa199;
    h1 {
        font-size: 2.5em;
        font-weight: lighter;
        padding: 20px;
        color: $main-font-color;
        text-shadow: $text-shadow; 
    }
    nav {
        display: flex;
        align-items: flex-end;
        margin-right: 20px;
        a {
            font-size: 1.8em;
            font-weight: lighter;
            padding: 10px;
            text-decoration: none;
            color: $main-font-color;
            text-shadow: $text-shadow;
            transition: text-shadow 1s;
            &:hover {
                color: #c64832;
                text-shadow: 2px 2px 10px #551f16;
            }
        }
    }
}