main {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.027)), url(../assets/img/hockey_12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .hero-section {
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.180), rgba(0, 0, 0, 0.2)), url(../assets/img/design1_image2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: unset;
        height: 400px;
        width: 100%;
        .logo {
            width: 160px;
            margin: 15px;
        }
    }
    article {
        h2 {
            background-color: #5fa199;
            text-align: center;
            font-weight: lighter;
            font-size: 3.5em;
            color: $main-font-color;
            text-shadow: $text-shadow;
            padding: 20px;
        }
    }
    .events {
        display: flex;
        flex-direction: column;
        padding: 40px;
        margin: 50px 60px;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.200));
        h3 {
            font-size: 2.5em;
            font-weight: lighter;
            padding-bottom: 10px;
            color: $main-font-color;
            text-shadow: $text-shadow;
            text-align: center;
        }
        p {
            font-size: 2.2em;
            font-weight: lighter;
            color: $secondary-font-color;
            text-align: center;
        }
    }
    .gallery {
        display: flex;
        justify-content: space-around;
        margin: auto;
        width: 40%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            margin: 50px;
            border: 4px solid;
            color: #c64832;
        }
    }
}