@import "../base/variables";

form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 75%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
    margin: 30px auto;
    padding: 20px;
    fieldset {
        border: none;
        h3 {
            font-size: 3.5em;
            text-align: center;
            color: #f8e12e;
            font-weight: lighter;
            text-shadow: 8px 4px 8px #111;
            padding: 1px;
            margin-bottom: 5px;
            
        }
        h4 {
            font-size: 1.8em;
            color: #f8e12e;
            font-weight: lighter;
            text-shadow: 8px 4px 8px #111;
            padding: 1px;
            margin-bottom: 5px;
        }
        legend {
            font-size: 2em;
            font-weight: lighter;
            color: #f8e12e;
            text-shadow: 8px 4px 8px #111;
            padding: 1px;
            margin-top: 10px;
          }
        .regform {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .name-fields {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
            .city-zip {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
            }
            .birthdate-gender {
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
                width: 100%;
                .gender{
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: baseline;
                }
            }
            .grade {
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;
            }
        }
        .school {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
        .positions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
        }
    }
}

  
  form fieldset {
    padding: 20px;
  }
  
  form fieldset label {
    margin: 5px;
  }
  
  fieldset label {
    font-size: 1.5em;
    color: #f8e12e;
    text-shadow: 8px 4px 8px #111;
  }
  
  fieldset input {
    max-width: 300px;
    margin: 10px;
    padding: 6px;
    border: none;
    outline-color: #5fa199;
  }
  

  .text {
    padding: 20px;
    color: #fdfdfd;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .text h4 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #f8e12e;
    text-shadow: 8px 4px 8px #111;
  }
  
  #signature {
    padding: 5px;
    width: 180px;
  }
  
  #button {
    font-size: 1.4em;
    padding: 10px;
    width: 100px;
  }
  