/*------------------- MEDIA QUERIES MOBILE -----------------*/
@media only screen and (min-width: 320px) and (max-width: 479px){
   
header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 1.8em;
        margin: 15px auto;
        padding: 0;
    }
    nav {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 0.8em;
        padding: 0;
        margin: 0;
    } 
}
main {
    .hero-section {
        .logo {
            margin: 0;
            display: flex;
            justify-content: center;
        }
    }
}

/*------------ FOOTER ------------*/

footer p {
    font-size: 1.2em;
    text-align: center;
}

/*------------ HOME ------------*/

.hero-section {
    background-attachment: scroll;
}

.hero-section .logo{
    width: 100px;
}

.hero-container {
    height: 80px;
}

.hero-container h2 {
    font-size: 1.8em;
}

.container-events {
    font-size: 0.6em;
}

.galery img {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/*------------ ABOUT ------------*/

.container-about {
    font-size: 0.6em;
}

/*------------ CONTACT ------------*/

.container-contact {
    font-size: 0.6em;
}

/*------------ GAME INFO ------------*/

table {
    font-size: 0.9em;
}

thead th {
    padding: 10px;
}

.container-gameinfo p {
    font-size: 1.3em;
}

iframe  {
    width: 40%;
    padding: 10px;
}

/*------------ RULES ------------*/

.container-rules {
    font-size: 1em;
}


}

/*------------------- MEDIA QUERIES TABLET -----------------*/

@media only screen and (min-width: 479px) and (max-width: 828px){

/*------------ HEADER ------------*/

.header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container h1 {
    font-size: 2.4em;
    text-align: center;
}

.header-container nav a {
    font-size: 1.3em;
}

/*------------ FOOTER ------------*/

footer p {
    font-size: 1.3em;
    text-align: center;
}

/*------------ HOME ------------*/

.hero-section {
    background-attachment: scroll;
}

.hero-section .logo{
    width: 120px;
}

.hero-container {
    height: 80px;
}

.hero-container h2 {
    font-size: 2.2em;
}

.container-events {
    font-size: 0.9em;
}

.galery img {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/*------------ ABOUT ------------*/

.container-about {
    font-size: 0.9em;
}

/*------------ CONTACT ------------*/

.container-contact {
    font-size: 0.9em;
}

/*------------ GAME INFO ------------*/

table {
    font-size: 1.2em;
}

thead th {
    padding: 15px;
}

.container-gameinfo p {
    font-size: 1.4em;
}

iframe  {
    width: 50%;
    padding: 15px;
}

/*------------ RULES ------------*/

.container-rules {
    font-size: 1.1em;
}

}
