/*------------------- MEDIA QUERIES MOBILE -----------------*/
@media only screen and (min-width: 320px) and (max-width: 479px){
   
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 1.8em;
            margin: 15px auto;
            padding: 0;
        }
        nav {
            flex-wrap: wrap;
            justify-content: center;
            font-size: 0.8em;
            padding: 0;
            margin: 0;
        } 
    }
/*------------ HOME ------------*/
    main {
        .hero-section {
            height: 40vh;
            .logo {
                width: 30%;
            }
        }
        article {
            h2 {
                font-size: 1.8em;
            }
        }
        .events {
            margin: 15px;
            h3 {
                font-size: 1.6em;
            }
            p {
                font-size: 1.4em;
            }
        }
        .gallery {
            flex-direction: column;
            align-items: center;
            width: 80%;
            img {
                height: 35vh;
            }
        }
    }
/*------------ ABOUT ------------*/
    .about {
        margin: 15px;
        h3 {
            font-size: 1.6em;
        }
        p {
            font-size: 1.4em;
        }
    }
/*------------ CONTACT ------------*/
    .contact {
        margin: 30px 15px;
        h3 {
            font-size: 1.6em;
        }
        p {
            font-size: 1.4em;
        }
    }
/*------------ GAME INFO ------------*/
    .container-gameinfo {
        margin: 30px 10px;
        padding: 0;
        flex-wrap: wrap;
        table {
            font-size: 1em;
            width: auto;
            thead {
            th {
                padding: 10px;
                }
            }
        }
        b {
            font-weight: lighter;
        }
        .locations {
            padding: 20px;
            iframe  {
                width: 40%;
                padding: 10px;
            }
        }
    }
/*------------ RULES ------------*/
    .rules-container {
        margin: 20px;
        font-size: 1em;
    }
/*--------- REGISTRATION ---------*/
    form {
        font-size: 1em;
        width: 90%;
        h3 {
            font-size: 1.8em;
        }
        h4 {
            font-size: 1.2em;
            margin: 0;
        }
        fieldset {
            legend {
                padding: 0;
                margin-bottom: 10px;
            }
            label {
                font-size: 1em;
                margin: 0 auto;
            }
        }
    }
/*------------ FOOTER ------------*/
    footer p {
        font-size: 1.2em;
        text-align: center;
    }
}

/*------------------- MEDIA QUERIES TABLET -----------------*/

@media only screen and (min-width: 479px) and (max-width: 828px){

/*------------ HEADER ------------*/

.header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container h1 {
    font-size: 2.4em;
    text-align: center;
}

.header-container nav a {
    font-size: 1.3em;
}

/*------------ FOOTER ------------*/

footer p {
    font-size: 1.3em;
    text-align: center;
}

/*------------ HOME ------------*/

.hero-section {
    background-attachment: scroll;
}

.hero-section .logo{
    width: 120px;
}

.hero-container {
    height: 80px;
}

.hero-container h2 {
    font-size: 2.2em;
}

.container-events {
    font-size: 0.9em;
}

.galery img {
    display: flex;
    flex-direction: column;
    width: 70%;
}

/*------------ ABOUT ------------*/

.container-about {
    font-size: 0.9em;
}

/*------------ CONTACT ------------*/

.container-contact {
    font-size: 0.9em;
}

/*------------ GAME INFO ------------*/

table {
    font-size: 1.2em;
}

thead th {
    padding: 15px;
}

.container-gameinfo p {
    font-size: 1.4em;
}

iframe  {
    width: 50%;
    padding: 15px;
}

/*------------ RULES ------------*/

.container-rules {
    font-size: 1.1em;
}

}
